* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    height: 100%;
}

.file_head {
    width: 1000px;
    margin: 0 auto;
    background-color: pink;
}

.file_head_img {
    display: flex;
    justify-content: space-around;
}

.file_head_img img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
    margin: 10px 10px;
}

.brief_introduction {
    width: 1000px;
    margin: 0 auto;
    background-color: yellow;
}

.brief_content {
    width: 700px;
    background-color: yellow;
}

.like ul {
    height: 25px;
}

.like ul li:last-child {
    border-left: 1px solid white;
}

.like li {
    float: right;
    width: 80px;
    color: #8b8b8b;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid #eeeeee;
}

.like li span {
    color: #529cea;
}

.brief_text p {
    text-indent: 2em;
    font-weight: 700;
    margin-top: 10px;
}